<h1>Welcome to Gif Generator</h1>

<nav>
  <%= link_to 'Sign Up', new_user_path %>
  <%= link_to 'Log In', login_path %>
</nav>

<section>
  <% @gifs.each do |gif| %>
    <% unless gif[1][1].nil? %>
      <img src="<%=  gif[1][1]["images"]["original_still"]["url"] %>"/>
    <% end %>
  <% end %>
</section>