<h1>Admin Gifs</h1>

<% @gifs.each do |gif| %>

  <section class='gifs'>
    <img src="<%= gif.url %>"/>
  </section>
  <%= button_to "Add to Favorites", user_favorites_path(user_id: current_user.id, gif_id: gif.id)  %>
<% end %>