<h1>All Categories</h1>

<% @categories.each do |category| %>

<section class='categories'>
  <%= category.name %>
  <%= link_to "Delete", admin_category_path(category), method: "delete" %>
</section>

<%end %>

<div class= 'form'>
  <%= render partial: 'form' %>
</div>